@charset "utf-8";
html{overflow:hidden!important; height:100%;}
body{height:100%;}
a,em,u{ text-decoration: none;font-style: normal;font-weight: normal;}
a:active,a:visited,a:link,a:hover{text-decoration: none;}
table {	border-spacing:0; border-collapse:collapse;}
img {width:100%;height:100%;}
body, ul, li, p, nav, footer, section, header, article, div, dl, dt, dd, button, h1, h2, h3, h4, h5, h6, input, textarea, img, cite, table, td, th {
  padding: 0; margin: 0; border: 0; text-align: left;line-height:normal;
  list-style-type: none;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
}
i{
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
}
input,textarea,button{
  outline: none;
  background: none;
  border-radius: 0px;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a{
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
